<h2 id="title">ReddThat</h2>
<div>
  {{input type="text" value=searchQuery placeholder="Search"}} in
  <button {{action "searchPosts"}}>Posts</button>
  <button {{action "searchSubreddits"}}>Subredits</button>
</div>
{{outlet}}
